<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <h3 th:if ="${searchInfo} and ${searchInfo.size()}"
        th:text  = "${searchInfo.size()} + ' ' + ${title}">

    </h3>

    <h3 th:if ="${searchInfo} and ${searchInfo.size() == 0}"
        th:text =" 'No' + ' ' + ${title}">


    </h3>




    <div >

            <th:block th:each=" HashMap : ${searchInfo}">
                <table>
                <tr th:each=" field : ${HashMap}">
                    <td><b th:text="${#strings.capitalizeWords(field.key)} + ':'"></b></td>
                    <td th:text="${#strings.capitalizeWords(field.value)}"></td>
                </tr>
                </table>
                <br></br>

            </th:block>
    </div>



</div>

</body>
</html>